@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.bannerWrapper {
    position: relative;
}
.banner {
   object-fit: cover;
   max-width:100%;
}
.textOnBanner {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F06C9B;
}
.ourBlog {
    font-weight: 700;
}
.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat, sans-serif;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: flex-end
}
.contentWrapper button {
    color: white;
    background-color: #F06C9B;
    font-size: 0.7rem;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.938rem;
    top: 80%;
    left: 26%;
    cursor: pointer;
    border-color: transparent;
}
.contentWrapper button:hover {
    opacity: 0.7;
}
.miniBtn {
    width: 8rem;
    height: 2.2rem;
}
.mainBlogWrapper button {
    width: 8rem;
    height: 2.2rem;
}
.textBtnWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.textBtnWrapperMini {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.addNewBtn {
    color: white;
    background-color: #624CAB;
    font-size: 0.7rem;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.938rem;
    width: 9rem;
    height: 2rem;
    cursor: pointer;
    border-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 14.5rem;
}
.addNewBtn:hover {
    opacity: 0.7;
}
.mainPic {
    width: 20rem;
    height: auto;
}
.blogPics {
    width: 13rem;
    height: 13rem;
}
.blogWrapper {
    display: flex;
    gap: 4rem;
    margin-bottom: 3rem;
    margin-left: 14.5rem;
    margin-right: 14.5rem;
}
.mainBlogWrapper {
    display: flex;
    flex-direction: column;
}
.miniBlogsWrapper {
    display: flex;
    flex-direction: column;
}
.miniBlogWrapper {
    display: flex;
    align-items:flex-start;
    margin-bottom: 3rem;
}
.miniBlogContentWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    height: 100%;
}
.mainBlogContentWrapper {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    margin-bottom: 3rem;
}
.title {
    color: #624CAB;
    font-weight: 400;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.mainTitle {
    color: #624CAB;
    font-weight: 400;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ctaText {
    color: #908282;
    font-size: 1.3rem;
    line-height: 1.8rem;
}
.pageNum {
    font-family: Montserrat, sans-serif;
    font-weight: bold;

    background-color:#F06C9B;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 5px;
    text-align: center;

    color: white;
    line-height: 2.35rem;
    
    cursor: pointer;
    font-size: 25px;
}
.pageNum:hover {
    opacity: 0.7;
}
#currentPage {
    background-color: rgba(240, 108, 155, 0.5);
}
#arrow {
    background-color:white;
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
#arrow:hover {
    opacity: 0.3;
    cursor: pointer;
}
.hiddenArrow {
    visibility: hidden;
}
.pageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#secondBtn {
    display: none;
}
.mainLink {
    display: flex;
    flex-direction: column;
}
.miniLink {
    display: flex;
}
.centerOfPage {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 950px) {
    .banner{
        object-position: 50%;
    }
}
@media screen and (max-width: 630px) {
    .banner{
        object-position: 30%;
    }
    .textOnBanner {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
/* @media screen and (max-width: 768px) {
    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainBlogWrapper {
        flex-direction: row;
        width: 70%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0.7vw;
        margin-top: 2vw;
    }
    .mainLink {
        display: flex;
        flex-direction:row;
    }
    .mainBlogContentWrapper {
        display: flex;
        flex-direction: column;
        margin-left: 0.7vw;
        height: auto;
        width: 100%;
    }
    .miniBlogWrapper {
        align-items: unset;
    }
    .miniBlogsWrapper {
        width: 70%;
    }
    .miniBlogContentWrapper {
        height: auto;
    }
    .mainTitle {
        padding: 0;
    }
    #firstBtn {
        display: block;
        margin-left: 15vw;
    }
    .mainPic {
        width: 13vw;
        height: 13vw;
    }
} */