@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.bannerWrapper {
    position: relative;
}
.banner {
   object-fit: cover;
   max-width:100%;
}
.textOnBanner {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F06C9B;
}
.ourBlog {
    font-weight: 700;
}
.contentWrapper {
    display: flex;
    font-family: Montserrat, sans-serif;

    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin: 0 10rem;
}
.contentWrapper button {
    color: white;
    background-color: #F06C9B;
    font-size: clamp(0.85rem, 1.5vw,1rem);
    font-family: Montserrat, sans-serif;
    font-weight: bold;

    border-radius: 0.938rem;
    
    cursor: pointer;
    border-color: transparent;

    transition: 0.3s;

    width: 10rem;
    height: 3rem;

}
.contentWrapper button:hover {
    opacity: 0.7;
    transition: 0.3s;
}


.addNewBtn {
    color: white;
    background-color: #624CAB;
    font-size: 0.7rem;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.938rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    border-color: transparent;
    margin-bottom: 2rem;
    margin-left: 10rem;
}
.centerOfPage {
    margin-top: 5.3rem;
    display: flex;
    flex-direction: column;
}
.addNewBtn:hover {
    opacity: 0.7;
}

/*GRID*/

.gridContainer{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(3, minmax(min-content,250px));
    grid-template-areas: 
    "MAIN a"
    "MAIN b"
    "MAIN c";
    grid-gap: 3rem;
}

.mainBlogWrapper{
    grid-area: MAIN;
}

.miniBlogWrapper:nth-child(2){
    grid-area: a;

}

.miniBlogWrapper:nth-child(3) {
    grid-area: b;

}

.miniBlogWrapper:nth-child(4) {
    grid-area: c;

}

/*GRID - END*/

/*MAINBLOG*/
.mainBlogWrapper {
    display: flex;
    flex-direction: column;
    

}

.mainPic {
    width: 100%;
    object-fit: cover;
    min-width: none;
    height: max(60%,400px);
    border-radius: 0.313rem;
}

.mainBlogContentWrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    color: #624CAB;
    font-weight: 400;
    font-weight: bolder;
    font-size: clamp(1.3rem, 3vw,1.6rem);
    font-size: clamp(1.6rem, 4vw,1.8rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ctaText {
    color: #908282;
    font-size: clamp(1rem, 2vw,1.2rem);

    line-height: 1.8rem;
    text-align: justify;

}

.link {
    display: flex;
    flex-direction: column;
    margin-top: auto;

}


/*MAINBLOG-END*/


/*SIDEBLOGS*/
.miniBlogWrapper {
    display: flex;
    align-items:flex-start;
}

.sidePics {
    object-fit: cover;
    height: 100%;
    width: max(30%, 200px);
    
    border-radius: 0.313rem;
}

.miniBlogContentWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    height: 100%;
}

.miniBlogContentWrapper .title{
    margin-top: 0;
}


/*SIDEBLOGS - END*/

.pageNum {
    font-family: Montserrat, sans-serif;
    font-weight: bold;

    background-color:#F06C9B;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 5px;
    text-align: center;

    color: white;
    line-height: 2.35rem;
    
    cursor: pointer;
    font-size: 25px;
}
#currentPage {
    background-color: #F06C9B;
}
#notCurrentPage {
    background-color: #F06C9B;
    opacity: 0.7;
}
#notCurrentPage:hover {
    opacity: 1;
}
#arrow {
    width: 30px;
    height: 30px;
}
#arrow:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hiddenArrow {
    visibility: hidden;
}
.pageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#secondBtn {
    display: none;
}

@media screen and (max-width: 1450px) {

    .contentWrapper{
        margin: 0 5rem;
    }
    .addNewBtn {
        margin-left: 5rem;
    }

}

@media screen and (max-width: 1130px)
{
    .gridContainer{
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(min-content,250px));
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";
        
        /*grid-gap: 3rem;*/
    }
    
    .mainBlogWrapper{
        grid-area: a;
    }
    
    .miniBlogWrapper:nth-child(2){
        grid-area: b;
    
    }
    
    .miniBlogWrapper:nth-child(3) {
        grid-area: c;
    
    }
    
    .miniBlogWrapper:nth-child(4) {
        grid-area: d;
    
    }

    .mainBlogWrapper {
        flex-direction: row;
        align-items:flex-start;
    }
    
    .mainPic {
        object-fit: cover;
        height: 100%;
        width: max(30%, 200px);
        
        border-radius: 0.313rem;
    }
    .mainBlogContentWrapper{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        height: 100%;
    }
    .mainBlogContentWrapper .title{
        margin-top: 0;
    }
    
    
}
@media screen and (max-width: 950px) {
    .banner{
        object-position: 50%;
    }
}

@media screen and (max-width: 750px){
    .contentWrapper{
        margin: 0 1.25rem;
    }

    .addNewBtn {
        margin-left: 1.25rem;
    }


}

@media screen and (max-width: 630px) {

    .contentWrapper button {
        color: white;
        background-color: #F06C9B;
        font-size: clamp(0.85rem, 1.5vw,1rem);
        font-family: Montserrat, sans-serif;
        font-weight: bold;
    
        border-radius: 0.938rem;
        
        cursor: pointer;
        border-color: transparent;
    
        transition: 0.3s;
    
        width: 8rem;
        height: 2.2rem;
    
    }
    .gridContainer{
        grid-template-rows: repeat(4, minmax(min-content,250px));
    }
    .banner{
        object-position: 30%;
    }
    .textOnBanner {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .pageNum {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;

        line-height: 2.35rem;
        
        
        font-size: 18px;
    }
    

    #arrow {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 550px){
    .gridContainer{
        gap: 4rem;
    }
    .mainBlogWrapper, .miniBlogWrapper {
        flex-direction: column;
        align-items: center;
        
    }

    .mainPic, .sidePics{
        width: 100%;
        height:9.825rem;
    }

    .miniBlogContentWrapper, .mainBlogContentWrapper{
        margin-left: 0;
        margin-top: 1rem;
    }

   
    .contentWrapper button { 

        width: 8rem;
        height: 2.5rem;
        
    }

    .addNewBtn {
        width: 8rem;
        height: 2.75rem;
    }
    .link{
        margin-left: auto;
        margin-top: 0.85rem;
    }
}
