@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.banner {
   height:auto;
   max-width:100%;
   max-height:100%;
}
.contentWrapper {
    display: flex;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2vw;
    justify-content: center;
}
.contentWrapper button {
    color: white;
    background-color: #F06C9B;
    font-size: 0.7vw;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.938rem;
    top: 80%;
    left: 26%;
    cursor: pointer;
    border-color: transparent;
}
.contentWrapper button:hover {
    opacity: 0.7;
}
.miniBtn {
    width: 8vw;
    height: 2.2vw;
}
.mainBlogWrapper button {
    width: 8vw;
    height: 2.2vw;
}
.textBtnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.textBtnWrapperMini {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.addNewBtn {
    color: white;
    background-color: #624CAB;
    font-size: 0.7vw;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.938rem;
    width: 9vw;
    height: 2vw;
    cursor: pointer;
    border-color: transparent;
    margin-left: 16vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.addNewBtn:hover {
    opacity: 0.7;
}
.mainPic {
    width: 15vw;
    height: auto;
}
.blogPics {
    width: 13vw;
    height: 13vw;
}
.mainBlogWrapper {
    display: flex;
    flex-direction: column;
    width: 17vw;
    padding-bottom: 0.7vw;
}
.miniBlogsWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 41.1vw;
}
.miniBlogWrapper {
    display: flex;
    align-items:flex-start;
    margin-bottom: 0.7vw;
}
.miniBlogContentWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 0.7vw;
}
.mainBlogContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16vw;
}
.title {
    color: #624CAB;
    font-weight: 400;
    font-weight: bolder;
    font-size: 1.4vw;
}
.mainTitle {
    color: #624CAB;
    font-weight: 400;
    font-weight: bolder;
    font-size: 1.4vw;
    padding-top: 0.5vw;
}
.ctaText {
    color: #908282;
    font-size: 1.2vw;
}
.pageNum {
    background-color:#F06C9B;
    width: 2vw;
    height: 2vw;
    margin: 0 2px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-bottom: 2vw;
    cursor: pointer;
    font-size: 1vw;
}
.pageNum:hover {
    opacity: 0.7;
}
#currentPage {
    background-color: rgba(240, 108, 155, 0.5);
}
#notCurrentPage {
    
}
#arrow {
    background-color:white;
    width: 1.8vw;
    height: 1.8vw;
    padding-top: 0.2vw;
    opacity: 0.6;
}
#arrow:hover {
    opacity: 0.3;
    cursor: pointer;
}
.pageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#secondBtn {
    display: none;
}
.mainLink {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mainLink:hover {
    transform: scale(1.03);
}
.miniLink {
    display: flex;
}
.miniLink:hover {
    transform: scale(1.03);
}
@media screen and (max-width: 768px) {
    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainBlogWrapper {
        flex-direction: row;
        width: 70%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0.7vw;
        margin-top: 2vw;
    }
    .mainLink {
        display: flex;
        flex-direction:row;
    }
    .mainBlogContentWrapper {
        display: flex;
        flex-direction: column;
        margin-left: 0.7vw;
        height: auto;
        width: 100%;
    }
    .miniBlogWrapper {
        align-items: unset;
    }
    .miniBlogsWrapper {
        width: 70%;
    }
    .miniBlogContentWrapper {
        height: auto;
    }
    .mainTitle {
        padding: 0;
    }
    #firstBtn {
        display: block;
        margin-left: 15vw;
    }
    .mainPic {
        width: 13vw;
        height: 13vw;
    }
}