.blogsHeading {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 3.5rem;
    font-size: clamp(2rem, 5vw ,3.5rem);
    color: #7F2982;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 3rem;

}
.allBlogsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10rem;
}


.linkWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    transition: 0.1s;
}
.linkWrapper:hover {
    transform: scale(1.03);

}
.miniBlogContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    margin-left: 1.5rem;
}
.title {
    color: #624CAB;
    font-weight:bolder;
    font-style: normal;
    font-size: clamp(1.6rem, 4vw,1.8rem);
}
.ctaText {
    color: #908282;
    font-size: 1.4rem;
    font-size: clamp(1.2rem, 2vw,1.4rem);

}
.readMoreBlogs {
    display: flex;
    justify-content: center;
}
.blogPics {
    object-fit: cover;
    min-width: 325px;
    border-radius: 0.313rem;
}
.buttonBlogs {
    color: white;
    background-color: #F06C9B;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.938rem;
    width: 12.5rem;
    height: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    border-color: transparent;
    transition: 0.3s;

}
.buttonBlogs:hover {
    opacity: 0.7;
    transition: 0.3s;
}


@media screen and (max-width: 1250px){
   
    .allBlogsWrapper {
      margin: 0 5rem;
    }
   
}

@media screen and (max-width: 850px){
    
    .allBlogsWrapper {
        margin: 0 4rem;
    }
    .linkWrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

    }
    .blogPics {
        width: 100%;
        min-width: unset;

    }
    .miniBlogContentWrapper {
        margin-top: 1rem;
        margin-left: 0px;
        gap: 1rem;
    }
    
}

@media screen and (max-width: 630px) {
    .allBlogsWrapper {
        margin: 0 2.5rem;
    }
    .blogsHeading{
        margin-bottom: 2rem;
    }
    .blogPics {
        height: 150px;
    }
}

@media screen and (max-width: 500px) {

    .allBlogsWrapper {
        margin: 0 1.75rem;
    }

    .blogPics {
        height: 125px;
    }
   
}
  