@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.bannerWrapper{
    width: 100%;
}

.banner{
    
    height:auto;
    max-width:100%;
    max-height:100%;
    
}

.heading{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    color: #7F2982;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 38px;
  
}
/*PAGE NUMBER*/
.pageNumberContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.pageNum {
    font-family: Montserrat, sans-serif;
    font-weight: bold;

    background-color:#F06C9B;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 5px;
    border: none;
    text-align: center;

    color: white;
    line-height: 2.35rem;
    
    cursor: pointer;
    font-size: 25px;
}
#notCurrentPage:hover {
    opacity: 1;
}
#currentPage {
    background-color: #F06C9B;
}
#notCurrentPage {
    background-color: #F06C9B;
    opacity: 0.7;
}
#arrow {
    width: 30px;
    height: 30px;
}
#arrow:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*PAGE NUMBER - END*/
.mainContainer{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}
.filterContainer{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    height: 250px;
    justify-content: space-between;
}

.filterIconAndTextContainer{
    display: flex;
    gap: 27px;
}

.filterIconAndTextContainer label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;

    color: #F06C9B;
}

/*FILTERS*/
.filters{
    margin-top: 30px;
    width: 240px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
     user-select: none; 
}
.filterDropdown{
    margin-bottom: 30px;
}

.mainFilterDiv{
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    color: rgba(127, 41, 130, 0.8);

    cursor: pointer;
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-radius: 0px 0px 6px 6px;
    box-shadow: -2px 3px 4px;
}

.mainFilterDiv:hover *{
    opacity: 0.8;
    transition: 0.3s;
}

.mainFilterDiv label{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0.938rem;
    color: #F06C9B;
    cursor: pointer;

}

.dropdownIconWrapper{
    width:30px;
    height: 20px;
}

.dropdownIconInactive{
    width: 100%;
    height: 100%;
    rotate: -90deg;
    transition: 0.3s;
}

.dropdownIconActive{
    width: 100%;
    height: 100%;
    rotate: 90deg;
    transition: 0.3s;
}

.filterOptionsActive{
    /*min-height: 226px;*/
    height: auto;
    position: static;

    color: rgba(127, 41, 130, 0.8);
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-radius: 0px 0px 6px 6px;
    box-shadow: -2px 3px 4px;
    padding: 10px 15px;

    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease;
}

.filterOptionsInactive{
    /*min-height: 226px;*/
    position: absolute;

    color: rgba(127, 41, 130, 0.8);
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-radius: 0px 0px 6px 6px;
    box-shadow: -2px 3px 4px;
    padding: 10px 15px;
    opacity: 0;

    visibility:hidden;
    transform: translateY(-20px);
    transition: 0.1s ease;
}



.filterOption{
    display: flex;
    align-items: center;
    height: auto;
    padding: 7px 0px;
    cursor: pointer;


}

.countryImageWrapper{
    margin-left: auto;
}

.filterOption:hover label{
    transition: 0.2s;
    color:  #736868;

}




.filterOption *{
    cursor: pointer;

}

.filterOption label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color:  #908282;
    margin-left: 20px;

    
}

.filterOption input{
    background: #FFFFFF;
    border: 1px solid #908282;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    accent-color: #7F2982;
}

.priceRangeContainer{
    margin-top: 40px;
}
.priceRangeContainer label{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0.938rem;
    color: #F06C9B;
}
/*.customSelect {
    border: 1px solid #F06C9B;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0.938rem;
    color: #F06C9B;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
}*/

/*.customSelect:hover{
    opacity: 0.7;
}*/


/*.filterIconWrapper{
    width: 40px;
    height: 30px;
}*/


/*FILTERS END*/
.product{
   align-self: center; 
}
.candyContainer{
    margin-left: 75px;
    width: 100%;
    
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
   /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;*/
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 3.5rem;
    position: relative;
}

/*DROPDOWN*/
.dropdown{
    position: absolute;
    top: 0;
    right: 50px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
     user-select: none; 
}


.selectDropdown{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px #F06C9B solid;*/
    border-radius: 0.5rem;
    min-width: 120px;
    padding: 0.5rem 0;

    cursor: pointer;
    
}

.selectDropdown span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color:#F06C9B;

    letter-spacing: 0.1em;
}

.selectDropdown:hover span{
    opacity: 70%;
}

.selectDropdown:hover .caret{
    border-top: 10px solid #F06C9BB3;
}

.selectDropdown:hover .caretRotate{
    border-top: 10px solid #F06C9BB3;
}


.caret{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #F06C9B;
    transition: 0.3s;
}

.caretRotate{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #F06C9B;
    transform: rotate(180deg);
    transition: 0.3s;

}

.dropdownMenu{
    list-style: none;
    background-color: white;
    
    border: 2px #F06C9B solid;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    border-radius: 0.5rem;

    

    position: absolute;
    /*top: 3rem*/
    width: 115%;
    /*opacity: 0;
    display:none;*/
    transition: 0.2s;
    z-index: 3;

}

.dropdownMenu li{
    padding: 0.9rem 0.7rem;
    cursor: pointer;
    border-radius: 0.1rem;

    border-bottom: 2px #F06C9B solid;
    color: #F06C9B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    min-width: 120px;
}

.dropdownMenu li:hover{
    background-color: #F06C9B;
    color: white;
}

.dropdownMenuOpen{
    display: block;
    opacity: 1;
}

@media screen and (max-width: 1340px) {
    .candyContainer { grid-template-columns: repeat(2, 1fr); }
}
@media screen and (max-width: 1000px) {
    .candyContainer { grid-template-columns: repeat(1, 1fr); }
}
