.bannerWrapper{
    width: 100%;
}

.banner{
    
    height:auto;
    max-width:100%;
    max-height:100%;
    
}

.heading{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    color: #7F2982;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 38px;
  
}
/*PAGE NUMBER*/
.pageNumberContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.pageNum {
    font-family: Montserrat, sans-serif;
    font-weight: bold;

    background-color:#F06C9B;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 5px;
    text-align: center;

    color: white;
    line-height: 2.35rem;
    
    cursor: pointer;
    font-size: 25px;
}
.pageNum:hover {
    opacity: 0.7;
}
#currentPage {
    background-color: rgba(240, 108, 155, 0.5);
}
#notCurrentPage {
    
}
#arrow {
    background-color:white;
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
#arrow:hover {
    opacity: 0.3;
    cursor: pointer;
}

/*PAGE NUMBER - END*/


.filterIconWrapper{
    width: 40px;
    height: 30px;
}