@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mainProductCard {
  flex: 0 0 auto;
  width: 440px;

  width: 100%;
  height: 100%;


  /*width: 22.656vw;
    height: 29.167vw;*/

}

.productCard {
  flex: 0 0 auto;
  max-width: 340px;
  width: 100%;

  height: 440px;
  height: 100%;

  /*width: 17.708vw;
    height: 22.917vw;*/

}

.listProductCard {
  flex: 0 0 auto;
  width: 265px;
  height: 360px;
  /*width: 17.708vw;
    height: 22.917vw;*/

}

.productUpper {
  position: relative;
  width: 100%;
  height: 75%;
  overflow: hidden;
  background-color: #F06C9B80;
  border-radius: 15px 15px 0px 0px;

}
  .imageProduct{
    width: 77%;
    height: 80%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
  }
  
  
  
  .buttonFavourite{
    background: transparent;
    width: 10%;
    height: 10%;
    border:none;
    position: absolute;
    right: 3.67%;
    top: 3.8%;
    z-index: 1;
    cursor: pointer;
  }
  
  
  .imageFavourite{
    width: 100%;
    height: 100%;
    transition: 0.2s;
    outline: none;
  }
  
  .imageFavourite:hover{
    width: 110%;
    height: 110%;
    transition: 0.2s;
  }
  
  .productInfo{
    width: 100%;
    height: 25%;
    /*padding-top: 10px;
    padding-top: 7.14%;*/
    padding-top: 0.521vw;
  
    border: 2px solid #F06C9B80;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    
  }
  
  
.productDescription {
  width: 100%;
  overflow: hidden;

  margin: 1% 4.4%;

  color: #7F2982CC;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;

  /*font-size: 0.938rem;*/
  font-size: 15px;
  font-size: clamp(0.80rem,1.25vw,0.938rem);


}
  .mainProductDescription{
    width: 100%;
    overflow:hidden;
  
    margin: 1% 4.4%;
    
    color: #7F2982CC;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05em;
  
    font-size: 1.125rem;

  
  }
  
  .listProductDescription{
    width: 100%;
    overflow:hidden;
  
    margin: 1% 4.4%;
    
    color: #7F2982CC;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05em;
  
    /*font-size: 1.125rem;*/
    font-size: 0.75rem;
  
  }
  
  .productName{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 1% 4.4%;
    margin-right: 0;
    cursor: pointer;
    /*font-size: 1.125rem;*/
    font-size: 18px;
    font-size: clamp(1.1rem,1.5vw,1.2rem);
    color: #000000;
  }
  
  
  .mainProductName{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 1% 4.4%;
    cursor: pointer;
  
    /*font-size: 1.375rem;*/
    font-size: 23px;
    color: #000000;
    transition: 0.3s;

  }
  
  .listProductName{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 1% 4.4%;
    cursor: pointer;
  
    /*font-size: 1.375rem;*/
    font-size: 1rem;
    
  
    color: #000000;
  }
  
  .productName:hover{
    opacity: 80%;
  }
  
  .mainProductName:hover{
    opacity: 80%;
    transition: 0.3s;
  }
  
  .listProductName:hover{
    opacity: 80%;
  }
  
  .productPrice{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.05em;
  
    /*font-size: 1.438rem;*/
    font-size: 23px;
    font-size: clamp(1.25rem, 3vw,1.438rem);
    margin-left: 4.4%;
    color: #624CAB;
    bottom: 12%;
  }
  
  .mainProductPrice{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.05em;
  
    font-size: 1.875rem;
    
    margin-left: 4.4%;
    color: #624CAB;
    bottom: 12%;
  }
  
  .listProductPrice{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.05em;
  
    /*font-size: 1.625rem;*/
    font-size: 1.15rem;
    
    margin-left: 4.4%;
    color: #624CAB;
    bottom: 12%;
  }
  
  .buttonCart{
    background: white;
    border:none;
    width: 15%;
    height: 46%;
    position: absolute;
    right: 2.75%;
    bottom: 8.57%;
    cursor: pointer;
  }
  
  .imageCart{
    width: 100%;
    height: 100%;
    transition: 0.3s;

  }
  
  .imageCart:hover{
    opacity: 0.8;
    transition: 0.3s;
  }


@media screen and (max-width: 1363px){
  .mainProductDescription{
    font-size: 1rem;

  }

  .mainProductPrice{
    font-size: 1.6rem;
  }

  .mainProductName{
    /*font-size: 1.375rem;*/
    font-size: 1.2rem;
  }
  }

@media screen and (max-width: 730px){

  .mainProductDescription{
    font-size: 1rem;

  }

  .mainProductPrice{
    font-size: 1.4rem;
  }

  .mainProductName{
    /*font-size: 1.375rem;*/
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 630px){
  .mainProductDescription{
    font-size: 0.8rem;

  }

  .mainProductPrice{
    font-size: 1.3rem;
  }

  .mainProductName{
    /*font-size: 1.375rem;*/
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 530px){
  .mainProductDescription{
    font-size: 1rem;

  }

  .mainProductPrice{
    font-size: 1.4rem;
  }

  .mainProductName{
    /*font-size: 1.375rem;*/
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px){
  .productCard {
    flex: 0 0 auto;
    max-width: 340px;
    width: 100%;
  
    height: 440px;
    height: 100%;
  
    /*width: 17.708vw;
      height: 22.917vw;*/
    
  }

  .productUpper {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    background-color: #F06C9B80;
    border-radius: 15px 15px 0px 0px;
  
  }
  .productInfo{
    width: 100%;
    height: 30%;
    /*padding-top: 10px;
    padding-top: 7.14%;*/
    padding-top: 0.521vw;
  
    border: 2px solid #F06C9B80;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    
  }

  .imageProduct{
    width: 77%;
    height: 80%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }

  .productDescription {
    width: 100%;
    overflow: hidden;
  
    margin: 1% 4.4%;
  
    color: #7F2982CC;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05em;
  
    /*font-size: 0.938rem;*/
    font-size: 15px;
    font-size: clamp(0.80rem,1.25vw,0.938rem);
  
  
  }

  .productName{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 1% 4.4%;
    cursor: pointer;
    /*font-size: 1.125rem;*/
    font-size: 18px;
    font-size: clamp(1rem,1.5vw,1.125rem);
    color: #000000;
  }

  .productPrice{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.05em;
  
    /*font-size: 1.438rem;*/
    font-size: 23px;
    font-size: clamp(1.3rem, 3vw,1.438rem);
    margin-left: 4.4%;
    color: #624CAB;
    bottom: 12%;
  }
}


@media screen and (max-width: 380px){
  .mainProductDescription{
    font-size: 0.8rem;

  }

  .mainProductPrice{
    font-size: 1.3rem;
  }

  .mainProductName{
    /*font-size: 1.375rem;*/
    font-size: 0.9rem;
  }

}