@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.product {
    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    margin-bottom: 70px;
}

.featuringHeading {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 3.5rem);

    color: #7F2982;
    text-align: center;
    letter-spacing: 0.1em;

    margin: 3rem;
}
.productAndArrowContainter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*gap: 5rem;*/
    flex-grow: 1;

}

.sideProductContainer {
    width: min(370px, 25%);

    height: min(480px, 32vw);
}



.mainProductName{
    font-size: 350px;
}


.mainProductContainer {
    width: min(440px, 35%);
    height: min(560px, 40vw);
}


.buttonPrevious,
.buttonNext {

    z-index: 1;


    border: none;

    width: 42.5px;




    background-color: white;
    background-color: transparent;

    cursor: pointer;
}

.buttonNext {
    right: 0;
    transform: rotate(180deg);

}

.imageArrow {
    width: 100%;
    height: 100%;
}

.imageArrow:hover{
    opacity: 0.7;
}
  
  