@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* footer */


.footer {
    background-color: #7F2982;
    width: auto;
    /*height: 26.25vw;*/
    min-height: 475px;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    margin-bottom: 3rem;
    height: 230px;
}

.newsletterContainer{
    display: flex;
    flex-direction: column;
    width: 450px;

    gap: 25px;
}

.footerLogo {
    width: 110%;
    height: auto;
}

.inputAndTextNewsletterContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.footer p {
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    
    cursor: pointer;
}

p.pnews{
    font-weight: bold;
    color: white;
    font-size: 1.125rem;
}

.subscribeContainer{
    position: relative;
}

.input {
    font-family: Inter, sans-serif;
    font-size: 1.125rem;
    background-color: white;
    caret-color: #F06C9B;
    color: #F06C9B;


    width: 80%;
    height: 3.438rem;

    border-color: transparent;
    padding-left: 17px;
    outline: none;

}

.input::placeholder{
    color: #F06C9B;
}

.subscribe_button {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background-color: #F06C9B;

    width: 35%;
    height: 3.438rem;
    border-radius: 12px;
    position: absolute;

    right:0;
    border-color: transparent;
    cursor: pointer;
    color: white;
}


.textwrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.125rem;
}


p.mainp {
    font-weight: bold;
    font-size: 1.125rem;
    color: white;
    margin-bottom: 1.2rem;
}
.column p:not(:first-child){
    
    margin-bottom: 0.6rem;
}







.wrapper_line_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}


.footerLine {
    width: 30%;
    height: auto;
}

.socialsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    padding: 0 1rem;

}


p.copyright {
    font-family: Inter, sans-serif;
    color: white;
    margin: 0;
    font-size: 1.5rem;
    cursor: auto;
    padding-right: 1.5rem;
}




.footerSocialMedia {
    cursor: pointer;
    width: 100%;
    max-width: 1.9rem;
    height: auto;
}


@media screen and (max-width: 1110px) {
    .footerLine{
        display: none;
        width:5%;
    }
    .socialsContainer{
        
        width: 100%;

        justify-content: center;
        gap: 2rem;
    }

}


@media screen and (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        height: 230px;
    }

}