@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.headerContainer{
    display: flex;
    flex-direction: column;
    position: sticky;
    top:0;
    z-index: 2;
    background-color: white;
}



/*LOGO SECTION*/


.logoWrapper{
    align-self: center;
    width: 430px;
    height:80px;
    cursor: pointer;
    
}

.logoImage{
    width: 100%;
    height: 100%;
    margin-top: 1rem;

}

/*LOGO SECTION - END*/
.hamburgerWrapper{
    display: none;

}

.hamburgerImage{
    display: none;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.textNavigationContainer{
    display: flex;
    margin-left: 60px;
    gap: 70px;
    height: 100%;
    align-items: center;
}

.textNavigationContainerActive{
    
    display: flex;
    margin-left: 60px;
    gap: 70px;
    height: 100%;
    align-items: center;
}

.textNavLinkWrapperActive{
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;

    border-bottom: solid 4px #7F2982;
    position:relative;
}

.textNavLinkWrapperInactive{
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    position:relative;
}

.textNavLinkWrapperInactive:hover .triangleSelectInactive{
    border-bottom: 8px solid #7F298299;
    

}
.textNavLinkWrapperInactive:hover{
    border-bottom: solid 4px #7F298299;

}

.triangleSelectInactive{
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position:absolute;
    bottom: 0px;
}

.triangleSelectActive{
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position:absolute;
    border-bottom: 8px solid #7F2982;
    bottom: 0px;
}

.navLabelWrapperInactive{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7F2982;
}

.navLabelWrapperActive{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #7F2982;
}





.searchAndIconContainer{
    display:flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 50px;
}
.searchContainer{
    display:flex;
    width: 200px;
    height: 55px;
    background: rgba(23, 52, 54, 0.04);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 0 15px;
    align-items: center;
    
}

.searchInput{
    flex: 1;
    height: 45px;
    border: none;
    outline: none;
    font-size:18px;
    color: #7F2982;
    background: transparent;
    width: 100%;
    caret-color: #7F2982;

    
}

.searchInput::placeholder{
    color: #7F2982;
    opacity: 1;
}

.searchPictureWrapper{
    width: 35px;
    height: 35px;
}

.searchIcon:hover{
    opacity: 60%;
}

.iconContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.iconLinkWrapper{
    height: 40px;
    cursor: pointer;
    position: relative;
}

.icon{
    width: 100%;
    height: 100%;
}

.icon:hover{
    opacity: 60%;
}

.productCounter{
    position: absolute;
    right:-10px;
    top: -15px;
    background-color: #F06C9B;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 27px;
    height: 27px;
}

.productCounter p{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
/*HIUSER AREA*/
.hiUser {
    color:#7F2982;
    font-family: Montserrat, sans-serif;
    font-size:clamp(1rem, 2.75vw,1.5rem);
    border: none;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
   
    
}


.caret{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #7F2982;
    transition: 0.3s;
    margin-left: 5px;

}

.caretRotate{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #7F2982;
    rotate: 180deg;
    transition: 0.3s;
    margin-left: 5px;


}
.hiUser:hover {
    opacity: 0.7;
}

.hiUser:hover .caret{
    opacity: 0.7;
}

.dropdown {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.dropdownContent {
    position: absolute;
    top: 4rem;
    background-color: white;
    border-radius: calc(10px + 4px);
    right:0;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid 2px #7F2982;

}

.dropdownContent::before {
    content: '';
    position: absolute;
    top: -3px;
    right: 5px;
    height: 20px;
    width: 20px;
    z-index: -1;
    background-color:#7F2982 ;
    /*border: solid 4px #7F2982;*/
    transform: rotate(45deg);
}

.logout {
    background-color: #7F2982;
    border-radius: 10px;
    border: solid 2px #7F2982;
    border:none;
    color:white;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    height: 2rem;
    transition: 0.3s;
    font-weight: 600;

}

.logout:hover {
    opacity: 0.7;
    transition: 0.3s;
    background-color: white;
    color: #7F2982;
}

/*HIUSER AREA*/

@media screen and (max-width: 1250px){
    .textNavigationContainer{
        gap: 35px;
        height: 100%;
        align-items: center;
    }
    
    .textNavigationContainerActive{
        
        gap: 35px;
        height: 100%;
        align-items: center;
    }
}


@media screen and (max-width: 1050px){
    .dropdownContent {
        top: 2.5rem;

    }

    .dropdown{
        align-self: flex-end;
        padding-bottom: 0;
        align-items: flex-end;
    }

    .logoWrapper{
        align-self: flex-start;
        width: 350px;
        height:80px;
        margin-left: 60px;
    }

    .logoImage{
        margin-top: 10px;

    }

    .hamburgerWrapper{
        display:flex;
        margin-left: 40px;
        height: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .hamburgerImage{
        display: block;
        width: 80px;
        height: 30px;
        
    }
    .iconContainer{
        position:absolute;
        top: 30px;
        right: 50px;
    }

    .textNavigationContainer{
        position: fixed;
        flex-direction: column;
        padding-top: 20px;
        align-items: flex-start;
        height: 250px;
        top: 160px;
        width: 100%;
        background-color: white;
        margin-left: 0px;
        gap: 20px;
        z-index: 2;
        transition: 0.3s;
        left: -100%;

    }

    .textNavigationContainerActive{
        position: fixed;
        flex-direction: column;
        padding-top: 20px;
        align-items: flex-start;
        height: 250px;
        top: 160px;
        width: 100%;
        background-color: white;
        margin-left: 0px;
        gap: 20px;
        z-index: 1;
        transition: 0.3s;
        left: 0%;
    }
    
    .triangleSelectInactive{
        display: none;
    }
    
    .triangleSelectActive{
        display: none;

    }

    .textNavLinkWrapperActive{
        margin-left: 60px;
        height: 50px;
        width: 88%;
        border-bottom: solid 3px;
        border-left: solid 10px;
        border-color: #7F2982;
        box-shadow: 4px 4px 5px #68707D;
    }

    .navLabelWrapperActive{
        /*font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 26px;
        font-weight: bold;*/
        
        
        


    }

    .textNavLinkWrapperInactive:hover{
        border-bottom: solid 3px;
        border-left: solid 10px;
        border-color: #7F2982BF;

    }
    
    .textNavLinkWrapperInactive{
        margin-left: 60px;
        height: 50px;
        width: 88%;
        border-bottom: solid 2px;
        border-left: solid 2px;
        border-color: #7F2982;

    }
    .navLabelWrapperInactive{
        text-transform: uppercase;
        color: #7F2982;
    }
    .caret, .caretRotate{
        margin-bottom: 8px;
    }
    
}


@media screen and (max-width: 750px){
    .hamburgerWrapper{
        margin-left: 0px;
    }

    .iconContainer{
        right: 20px;
        top: 40px;
        gap: 20px;
    }
    .searchAndIconContainer{
        margin-right: 20px;
    }

    .logoWrapper{
        margin-left: 20px;
        width: 250px;
        height:80px;
    }

    .textNavLinkWrapperInactive:hover{
        border-bottom: solid 2px;
        border-left: solid 2px;
        border-color: #7F2982;

    }
    .iconLinkWrapper{
        height: 30px;
    }

    .productCounter{
        right:-10px;
        top: -13px;
        width: 23px;
        height: 23px;
    }

    .productCounter p{
        font-size: 17px;

    }

    .textNavLinkWrapperActive{
        margin-left: 20px;
        margin-right: 20px;
        width: 91%;
    }

    .textNavLinkWrapperInactive{
        margin-left: 20px;
        margin-right: 20px;

        width: 91%;

    }

    .caret, .caretRotate{
        
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #7F2982;
        transition: 0.3s;
        
    
    }
    .hiUser{
        margin-bottom: 3px;
    }
    
    

}

@media screen and (max-width: 520px){

    .textNavigationContainer{
        
        top: 120px;
        z-index: -1;


    }
    .textNavigationContainerActive{
        top: 120px;
        z-index: -1;
    }

    .hamburgerWrapper{
        border-right: solid 1px;
        border-bottom: solid 1px;
        border-top: solid 1px;
        border-color: #7F2982CC;
    }
    .textNavLinkWrapperInactive{
        justify-content: flex-start;
    }
    .textNavLinkWrapperActive{
        justify-content: flex-start;

    }
    .navLabelWrapperActive{
        padding-left: 10px;
        font-size: 20px;
    }
    .navLabelWrapperInactive{
        padding-left: 10px;
        font-size: 20px;

    }

    .logoWrapper{
        width: auto;
        height:60px;
        margin-left: 8px;
        display: flex;
        align-items: center;
    }
    .logoImage{
        content: url("/logoCupcake.svg");
        margin-top: 0;
        height:50px;
    }
    .iconContainer{
        right: 15px;
        top: 20px;
        gap: 15px;
    }
    .navbarContainer{
    height: 60px;

    }

    .hamburgerImage{
        display: block;
        width: 60px;
        height: 20px;
        
    }
    .searchAndIconContainer{
        height: 100%;
        margin-right: 0px;
        border-bottom: solid 1px;
        border-top: solid 1px;
        border-color: #7F2982CC;
        flex-grow: 1;
        width:100%;
    }
    .searchAndIconContainer form{
        width: 100%;
    }

    .searchContainer{
       
        height: 100%;
        background: white;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;

        
    }
    
    .iconLinkWrapper{
        height: 26px;
    }

    .productCounter{
        right:-10px;
        top: -11px;
        width: 21px;
        height: 21px;
        transition: 0.3s;
    }

    .productCounter p{
        font-size: 15px;

    }
    
    .searchInput{
        font-size:16px;
    }
    
    .searchPictureWrapper{
        width: 25px;
        height: 25px;
    }
    
    .searchIcon{
       width: 25px;
       height: 25px;
    }

    .caret, .caretRotate{
        
        margin-bottom: 5px;
        
    
    }

    .hiUser{
        margin-bottom: 0px;
    }
    .dropdownContent {
        top:2rem;
    }

   
}

