@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.headerContainer{
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 4;
}



/*LOGO SECTION*/

.logoWrapper{
    align-self: center;
    width: 430px;
    height:80px;
}

.logoImage{
    width: 100%;
    height: 100%;
}

/*LOGO SECTION - END*/


.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.textNavigationContainer{
    display: flex;
    margin-left: 60px;
    gap: 70px;
    height: 100%;
    align-items: center;
}

.textNavLinkWrapper{
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
}

.inactiveTab{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7F2982;
}

.activeTab{
    font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.1em;
  color: #7F2982;
}


.searchAndIconContainer{
 display:flex;
}

.searchContainer{
    display:flex;
}