@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerSticky {
  top:0;
  position: sticky;
  background-color: white;
}
/*nav bar*/
.navBar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.1%;
}
.textNavWrapper {
  display: flex;
  width: 28.5%;
  justify-content: space-around;
  margin-left: 0.065%;
  margin-bottom: 0.032%;
}
.inactiveTab {
  font-family: Inter, sans-serif;
  font-size: 1.625rem;
  color: #7F2982;
}
.activeTab {
  font-family: Inter, sans-serif;
  font-size: 1.625rem;
  font-weight: bold;
  text-decoration: underline;
}
.emptySpace {
  width: 30%;
}
.iconsWrapper {
  display:flex;
  width:31%;
  justify-content: flex-end;
  margin-right: 0.065%;
}
.threeIconsWrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.inputWrapper {
  position: relative;
}
.searchIcon {
  position: absolute;
  left: -5rem;
  top: -0.188rem;
}
.inputNav {
  border-radius: 1.875rem;
  width: 12.5rem; /*ne mogu stavit u postotku nikako*/
  height: 3.25rem;
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  padding: 0.313rem;
  background-color: rgb(235, 235, 235);
  border-color: transparent;
  color:#7F2982;
  position:absolute;
  top: -20%;
  left: -14.375rem;
}
/* featuring candy */
.featuringHeading {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  color: #7F2982;
}
.biggestCandy {
  width: 28.6%;
  height: 20%;
  background-color: #F06C9B;
  position: relative;
}
/* story banner */
.storyBannerWrapper {
  position: relative;
}
.buttonStoryBanner {
  color: white;
  background-color: #F06C9B;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  border-radius: 0.938rem;
  width: 10.8%;
  height: 8%;
  position: absolute;
  top: 80%;
  left: 26%;
  cursor: pointer;
  border-color: transparent;
}
/* footer */
.footer {
  background-color: #7F2982;
  width: auto;
  height: 26.25rem;
  padding-top: 3.5%;
  padding-left: 3.5%;
  padding-right: 2%;
  padding-bottom: 0;
} 
.footer p {
  font-family: Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  margin: 1.25rem;
  cursor: pointer;
}
p.mainp {
  font-weight: bold;
  font-size: 1.125rem;
  color: white;
}
p.pnews {
  font-weight: bold;
  font-size: 1.125rem;
  color: white;
  margin: 0;
  margin-bottom: 0.065%;
  margin-top: 1.125rem;
  cursor: auto;
}
.textwrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.wrapper {
  display: flex;
  margin-bottom: 1.875rem;
}
p.copyright {
  font-family: Inter, sans-serif;
  color: white;
  margin: 0;
  font-size: 1.25rem;
  cursor: auto;
}
.wrapper_line_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe {
  position: relative;
}
.subscribe_button {
  border-radius: 0.75rem;
  width: 35%;
  height: 3.438rem;
  background-color: #F06C9B;
  font-family: Roboto, sans-serif;
  position: absolute;
  left:50%;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.input {
  background-color: white;
  color: #F06C9B;
  width: 60%;
  height: 3.438rem;
  border-color: transparent;
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  padding: 0.313rem;
}
