@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* FEATURING CANDY COMPONENT */

.product{
  overflow: hidden;

  position: relative;
  display:flex;
  flex-direction: column;
  padding: 20px;
  
  margin-bottom: 70px;
}

.featuringHeading {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: clamp(2rem, 5vw ,3.5rem);

  color: #7F2982;
  text-align: center;
  letter-spacing: 0.1em;
  
  margin: 3rem;
}

.productAndArrowContainter{
  position: relative;

}

.productContainer{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
  /*gap: 5rem;*/
  
}


.buttonPrevious, .buttonNext{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  

  border:none;
  
  width: 75px;
  height: 75px;


  background-color: white;
  background-color: transparent;

  cursor: pointer;
}

.buttonNext{
  right: 0;
  transform: rotate(180deg);

}

.imageArrow{
  width: 100%;
  height: 100%;
}

.imageArrow:hover{
  opacity: 0.7;
}


/*FEATURING CANDY COMPONENT END*/




@media screen and (max-width: 1200px){
  
 
    
}

@media screen and (max-width: 950px) {
  
 
}

@media screen and (max-width: 630px) {
 
 
  
}
@media screen and (max-width: 500px) {
 
  
}
