@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.product {
    overflow: hidden;

 
    
    padding: 20px 70px;
    
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 70px;
}

.featuringHeading {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 3.5rem);

    color: #7F2982;
    text-align: center;
    letter-spacing: 0.1em;

    margin: 3rem;
}


.productAndArrowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.wrapper {
    position: relative;
    width: 90%;
    
}
.slider{

}

.mainProductContainer {
    /*width: min(440px, 35%);*/
    /*height: min(560px, 40vw);*/
    height: 560px;
    max-width: 440px;
    
}


.buttonPrevious,
.buttonNext {

    z-index: 1;


    border: none;

    width: 42.5px;

    background-color: white;
    background-color: transparent;
    cursor: pointer;
}

.buttonNext {
    right: 0;
    transform: rotate(180deg);

}

.imageArrow {
    width: 100%;
    width: 42.5px;
    height: 100%;
}

.imageArrow:hover{
    opacity: 0.7;
}

@media screen and (max-width: 1363px)
{
    .mainProductContainer {
        /*width: min(440px, 35%);*/
        /*height: min(560px, 40vw);*/
        height: 480px;
        
    }

    .product{
        padding: 20px 35px;

    }
}

@media screen and (max-width: 850px){

    .product{
        padding: 20px 0;

    }

    .buttonPrevious,
    .buttonNext {
        display: none;
    }
    .wrapper {
        width: 100%;
        
    }
}

@media screen and (max-width: 730px){
    .mainProductContainer {
        /*width: min(440px, 35%);*/
        /*height: min(560px, 40vw);*/
        height: 425px;
        
    }
    .mainProductContainer {
        max-width: 350px;
    }

}



@media screen and (max-width: 630px){
    .mainProductContainer {
        /*width: min(440px, 35%);*/
        /*height: min(560px, 40vw);*/
        height: 350px;
    }
}


@media screen and (max-width: 530px){
    .mainProductContainer {
        /*width: min(440px, 35%);*/
        /*height: min(560px, 40vw);*/
        height: 390px;
    }
}

@media screen and (max-width: 380px){
    .mainProductContainer {
        /*width: min(440px, 35%);*/
        /*height: min(560px, 40vw);*/
        height: 325px;

    }

}