@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerSticky {
  top:0;
  position: sticky;
  background-color: white;
}
/*nav bar*/
.navBar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.textNavWrapper {
  display: flex;
  width: 433px;
  height: 31px;
  justify-content: space-around;
  margin-left: 10px;
  margin-bottom: 5px;
}
.inactiveTab {
  font-family: Inter, sans-serif;
  font-size: 26px;
  color: #7F2982;
}
.activeTab {
  font-family: Inter, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}
.emptySpace {
  width: 457px;
}
.iconsWrapper {
  display:flex;
  width:470px;
  justify-content: flex-end;
  margin-right: 10px;
}
.threeIconsWrapper {
  display: flex;
  justify-content: space-around;
  width: 240px;
}
.inputWrapper {
  position: relative;
}
.searchIcon {
  position: absolute;
  left: -80px;
  top: -3px;
}
.inputNav {
  border-radius: 30px;
  width: 200px;
  height: 52px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  padding: 5px;
  background-color: rgb(235, 235, 235);
  border-color: transparent;
  color:#7F2982;
  position:absolute;
  top: -20%;
  left: -230px;
}
/* footer */
.footer {
  background-color: #7F2982;
  width: auto;
  height: 420px;
  padding-top: 56px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
} 
.footer p {
  font-family: Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}
p.mainp {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
p.pnews {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 18px;
  cursor: auto;
}
.textwrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.wrapper {
  display: flex;
  margin-bottom: 30px;
}
p.copyright {
  font-family: Inter, sans-serif;
  color: white;
  margin: 0px;
  font-size: 20px;
  cursor: auto;
}
.wrapper_line_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe {
  position: relative;
}
.subscribe_button {
  border-radius: 12px;
  width: 150px;
  height: 55px;
  background-color: #F06C9B;
  font-family: Roboto, sans-serif;
  position: absolute;
  left:50%;
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.input {
  background-color: white;
  color: #F06C9B;
  width: 277px;
  height: 55px;
  border-color: transparent;
  font-family: Inter, sans-serif;
  font-size: 18px;
  padding: 5px;
}
