@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.mainWrapper {
    display:flex;
    justify-content: column;
}
.banner {
    width: 58vw;
    height: calc(100vh - 144px);
}
#registerSection {
    margin-top: 0;
}
.content {
    width: 42vw;
    font-family: Montserrat, sans-serif;
    font-size: 1vw;
    font-weight: 500;
    /* margin-top: 4vw; */
    /* margin-left: 6vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3vw;
}
.title {
    color: #7F2982;
    font-weight: bolder;
    font-size: 2.5vw;
    letter-spacing: -0.06em;
    font-weight: 700;
    margin-bottom: 1vw;
}
.registerTitle {
    color: #7F2982;
    font-weight: bolder;
    font-size: 2.5vw;
    letter-spacing: -0.06em;
    font-weight: 700;
    margin-bottom: 0.2vw;
}
.content label {
    font-size: 1.1vw;
    padding: 0.5vw 0;
}
.content input, .content button{
    border-radius: 0.75vw;
    border-color: #F06C9B;
    height: 3vw;
    outline: none;
    padding: 0.5vw;
}
.cbox {
    width: 1vw;
    accent-color: #7F2982;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.inputWrapper input {
    border: 1px solid #F06C9B;
    height: 3vw;
}
.remember {
    display: flex;
    align-items: center;
}
.rememberAndForgot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #7F2982;
    padding-bottom: 2vw;
}
.rememberAndForgotRegister {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #7F2982;
}
.forgot {
    text-decoration: underline;
    cursor: pointer;
}
.signInBtn {
    background-color: #F06C9B;
    color: white;
    border: 1px solid rgba(240, 108, 155, 0.5);
    font-size: 1vw;
    font-weight: 600;
}
.signInBtn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.signInBtnGgl:hover {
    opacity: 0.7;
    cursor: pointer;
}
.or {
    display:flex;
    justify-content: center;
}
.signInBtnGgl {
    background: rgba(240, 108, 155, 0.35);
    border: 1px solid rgba(240, 108, 155, 0.35);
    font-size: 1vw;
    font-weight: 600;
}
.register {
    display:flex;
    flex-direction: row;
    padding-top: 1vw;
    font-size: 1.1vw;
}
.eye {
    opacity: 0.3;
    position: absolute;
    top: 23%;
    left: 92%;
    width: 100%;
    max-width: 1.6vw;
    height: auto;
    cursor: pointer;
}
.eyeoff {
    display:none;
}
#passwordInputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.google {
    width: 100%;
    max-width: 1.6vw;
    height: auto;
    position: absolute;
    top: 22%;
    left: 30%;
    cursor: pointer;
}
.btnGglWrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.error {
    color:#F06C9B;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    margin-top: 1vw;
    font-size: 2vw;
}
@media screen and (max-width: 768px) {
    .mainWrapper {
        position:relative;
        height: 100vh;
        display: flex;
    }
    .banner {
        position: absolute;
        width: 140vw;
    }
    .content {
        display: flex;
        position: absolute;
        align-items: center;
        width: 100vw;
        background-color: white;
    }
}