.pageNumberContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

.pageNum {
    font-family: Montserrat, sans-serif;
    font-weight: bold;

    background-color:#F06C9B;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 5px;
    border: none;
    text-align: center;

    color: white;
    line-height: 2.35rem;
    
    cursor: pointer;
    font-size: 25px;
    
}
#notCurrentPage:hover {
    transition: 0.2s;
    opacity: 1;
}
#currentPage {
    background-color: #F06C9B;
}
#notCurrentPage {
    background-color: #F06C9B;
    opacity: 0.7;
    transition: 0.2s;

}
#arrow {
    width: 30px;
    height: 30px;
    transition: 0.2s;

}
#arrow:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;

}


@media screen and (max-width: 660px){
   
    .pageNum {
       
    
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;

        line-height: 2.35rem;
        
        
        font-size: 18px;
    }
    

    #arrow {
        width: 25px;
        height: 25px;
    }

  
}